body{
    background-color: rgb(40, 63, 97)

}

#thisIsNate{
    border-style: solid;
    border-color: rgb(169, 175, 180);
    border-radius: 3%;
    border-width: medium;
    background-color: aliceblue;
    align-content: center;
    padding:10px;
    
    

}

    

#but0{
    border-style: solid;
    border-color: rgb(169, 175, 180);
    border-radius: 5%;
    border-width: 10%;
    background-color: aliceblue;
    padding: 5px;


}

#but1{
    border-style: solid;
    border-color: rgb(169, 175, 180);
    border-radius: 5%;
    border-width: 10%;
    background-color: aliceblue;
    padding: 5px;


}

#but2{border-style: solid;
    border-color: rgb(169, 175, 180);
    border-radius: 5%;
    border-width: 10%;
    background-color: aliceblue;
    padding:5px
}

#but3 {
    border-style: solid;
    border-color: rgb(169, 175, 180);
    border-radius: 5%;
    border-width: 10%;
    background-color: aliceblue;
    padding:5px
}

#but4 {
    border-style:solid;
    background-color: rgb(75, 98, 133);
    border-radius: 5%;
    border-width: 50%;
    border-color: rgb(118, 118, 199);
}

#but5 {
    border-style:solid;
    background-color: rgb(75, 98, 133);
    border-radius: 5%;
    border-width: 50%;
    border-color: rgb(118, 118, 199);
}

#but6 {
    border-style:solid;
    background-color: rgb(75, 98, 133);
    border-radius: 5%;
    border-width: 50%;
    border-color: rgb(118, 118, 199);
}
#pls{
    border-style: solid;
    border-color: rgb(169, 175, 180);
    border-radius: 5%;
    border-width: 5px;
}
.theContainer{
    font-family: 'Black Han Sans', sans-serif;
    font-size: 30px;
    color: rgb(118, 118, 199);
    margin-top: 20px;
}

.secondRow{
    font-family: 'Black Han Sans', 'sans-serif';
    font-size:90px;
    color: rgb(99, 99, 165);
}

button{
    font-family: 'Black Han Sans', sans-serif;
    font-size: 30px;
    color: rgb(118, 118, 199);
    margin-top: 20px;
}

#resume{
    border-style: solid;
    border-color: rgb(169, 175, 180);
    border-radius: 5%;
    border-width: 10%;
    background-color: aliceblue;
    padding:5px
}

#linkedIn {
    border-style:solid;
    background-color: rgb(101, 127, 167);
    border-radius: 5%;
    border-width: 10%;
    border-color: rgb(118, 118, 199);
}

#textBox{
    font-family: 'Black Han Sans', sans-serif;
    font-size: 30px;
    color: rgb(118, 118, 199);
    margin-top: 20px;
    border-style:solid;
    border-radius: 5%;
    background-color: aliceblue;
    padding:15px;
}

#linkers{
    font-family: 'Black Han Sans', sans-serif;
    font-size: 30px;
    color: rgb(118, 118, 199);
    margin-top: 20px;
    border-style:solid;
    border-radius: 5%;
    background-color: aliceblue;
    padding:15px;
}

#theProjects{
    color: rgb(179, 179, 228);
}

#work{
    color: rgb(179, 179, 228);
    font-size: 70px;
    font-family: 'Black Han Sans', sans-serif;;
}

#myResume{
    color: rgb(179, 179, 228);
    font-size: 70px;
    font-family: 'Black Han Sans', sans-serif;;
}

#pBanner{
    border-style: solid;
    background-color: aliceblue

}